* {
    margin: 0;
    padding: 0;
    background-color: green;
}

.header_nav {
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    font-size: 25px;
}

.teste_hover:hover {
    color: #dc4e28;
}

/*.teste é TESTE EMBAIXO*/
/* .teste {
    border-style: solid;    Cria uma borda sólida 
    border-color:red;   /* Colore a borda com a cor vermelha 
    margin: 5%;    /* Adiciona uma margem ao redor da section 
    display: flex;  /* Adiciona o display flex
} 
*/