* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(192, 80, 0);
    color: rgb(245, 245, 245);
}

img {
    width: 950px;
    height: 500px;
    text-align: right;
}

/*Tamanho para celular */
@media screen and (max-widht: 600px) {}