*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: chocolate;
    color:darkblue;
}

figure, figcaption{
    font-family:Verdana;
    text-align: center;
    font-size: 20px;
}

h1{
    height: 150px;
    text-align: center;
    font-family:Verdana;
    font-size: 80pt;
}

h2{
    font-family:Verdana;
    text-align: center;
    font-size: 35pt;
}

p { 
    font-family:Verdana;
    text-align:center;
    text-align: justify;
    font-size: 15pt;
}

nav{
    font-family:Verdana;
    text-align: center;
    font-size: 30pt;
}

div{
    font-family:Verdana;
    text-align: center;
    font-size: 15px;
}